---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  className="mx-auto max-w-4xl"
>
  <main>
    <h1
      class="mb-0 mt-40 border-b-2 border-zinc-500 font-heading text-3xl font-thin lowercase tracking-tight md:text-5xl lg:-ml-16"
    >
      {post.data.title}
    </h1>
    <p class="mb-0 text-right text-sm lowercase italic text-zinc-400">
      {formatDate(post.data.date)}
    </p>
    <article
      class:list={[
        "prose mt-10 text-sm font-light md:text-lg",
        post.slug.startsWith("words/") && "drop-cap-article",
      ]}
    >
      <Content />
    </article>
  </main>
</Layout>
