---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  className="max-w-4xl p-3 lg:ml-[50vw]"
>
  <main>
    <h1
      class="mb-0 mt-24 border-b-2 border-zinc-500 font-heading text-3xl lowercase md:text-5xl lg:-ml-16"
    >
      {post.data.title}
    </h1>
    <p class="mb-0 text-right lowercase italic text-zinc-400">
      {formatDate(post.data.date)}
    </p>
    {
      post.data.image && post.data.image !== "/static/blog-placeholder.png" && (
        <div class="mt-16 rounded-3xl">
          <img
            class="rounded-3xl border-8 border-solid border-[#2D3047] dark:border-zinc-100"
            src={post.data.image}
            alt={post.data.title}
          />
        </div>
      )
    }
    <article
      class:list={[
        "prose mt-10 font-light md:text-lg",
        post.slug.startsWith("words/") && "drop-cap-article",
      ]}
    >
      <Content />
    </article>
  </main>
</Layout>
