---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../lib/utils";

const post = await getEntry("posts", "now");

if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  className="mx-auto max-w-4xl"
>
  <main>
    <h1
      class="mb-0 mt-40 border-b-2 border-zinc-500 font-sans text-8xl font-thin uppercase tracking-tight lg:-ml-16"
    >
      {post.data.title}
    </h1>
    <p
      class="mb-0 text-right text-sm lowercase italic tracking-tight text-zinc-400"
    >
      {formatDate(post.data.date)}
    </p>
    <article class="mt-10 text-sm font-light tracking-tight md:text-lg">
      <Content />
    </article>
  </main>
</Layout>
